/* == Fonts ========================================================================================================= */

@font-face {
    font-family: 'Lato-SemiBold';
    src: url('../fonts/Lato/Lato-SemiBold.woff2') format("woff2"),
         url('../fonts/Lato/Lato-SemiBold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format("woff2"),
         url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT-Sans-Regular';
    src: url('../fonts/PT-Sans/PT-Sans-Regular.woff2') format("woff2"),
         url('../fonts/PT-Sans/PT-Sans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT-Sans-Bold';
    src: url('../fonts/PT-Sans/PT-Sans-Bold.woff2') format("woff2"),
         url('../fonts/PT-Sans/PT-Sans-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* == Common styles ================================================================================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    font-family: 'PT-Sans-Regular', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
}

.modal-open {
    overflow: hidden;
    background-color: #6A6E72;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    padding-top: 14px;
    padding-bottom: 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    white-space: nowrap;
}

.button-fullwidth {
    display: inline-block;
    width: 100%;
}

/* == Header ======================================================================================================== */

.header {
    padding: 20px;
    color: white;
    text-align: center;
    background-color: #79D77D;
}

.header__title {
    font-family: 'Arial', sans-serif;
}

/* == Main ========================================================================================================== */

.main {
    width: 100%;
    height: 100%;
}

/* == Block Content ================================================================================================= */

.content {
    display: flex;
    justify-content: center;
}

.content__button {
    display: inline-block;
    margin-top: 100px;
}

.button-show {
    width: 147px;
    border: 1px solid #E5266E;
    font-family: 'Lato-SemiBold', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #E5266E;
    background-color: #FFFFFF;
}

.button-show:hover {
    background-color: #FCE9EC;
}

.button-show:active {
    background-color: #FFC3CB;
}

/* == Block Modal =================================================================================================== */

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    overflow: auto;
}

.modal {
    position: relative;
    top: 20%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    max-width: 754px;
    margin-bottom: 100px;
    padding: 53px 97px;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.modal__title {
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #0C1014;
}

.modal__form {
    margin-top: 35px;
}


.form {
    display: flex;
    flex-direction: column;
}

.form__top {
    display: flex;
    gap: 26px;
}

.form__top-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1 1 auto;
}

.form__bottom {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form__buttons {
    margin-top: 50px;
}


.form__container {
    width: 100%;
    padding: 7px 8px 7px 16px;
    border: 1px solid #D6DADE;
    border-radius: 3px;
}

.form__container_no-description {
    display: flex;
    padding: 15px 16px;
}

.form__logo-container {
    position: relative;
    width: 175px;
    padding: 0;
    border: none;
}

.form__activity-container {
    padding: 8px 8px 8px 16px;
}

.form__label {
    display: block;
    font-family: 'PT-Sans-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #6A6E72;
}

.form__label_required::before,
.form__logo-text::before{
    content: '✱';
    margin-right: 2px;
    color: #D90000;
}

.form__label_logo {
    position: relative;
    font-family: 'PT-Sans-Bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: #6A6E72;
    cursor: pointer;
}

.form__label_logo::before {
    content: url('../icons/file-upload.svg');
    position: absolute;
    top: 34%;
    left: 40%;
    display: block;
}

.form__label_logo::after {
    content: 'Выберите файл';
    position: absolute;
    top: 53%;
    left: 26%;
    max-width: 85px;
    font-family: 'PT-Sans-Regular', sans-serif;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    text-decoration: underline;
    line-height: 28px;
    color: #FFFFFF;
}

.form__label_required-logo::before {
    font-size: 12px;
    font-weight: 400;
}


.form-input {
    display: block;
    border: none;
    width: 100%;
}

.form-input:focus {
    outline: none;
}

.form-input,
.form-input::placeholder {
    font-family: 'PT-Sans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0C1014;
    line-height: 24px;
    white-space: nowrap;
}


.form__logo {
    display: none;
}

.form__logo-image {
    margin-top: 7px;
    display: block;
    width: 100%;
}

.form__logo-button {
    position: absolute;
    top: 15%;
    right: 3%;
    z-index: 3;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.form__icon {
    display: block;
    padding-left: 10px;
}


.form__send-button {
    font-family: 'Lato-SemiBold', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E5266E;
}

.form__close-button {
    font-family: 'PT-Sans-Regular', sans-serif;
    font-weight: 400;
    color: #0848C0;
    line-height: 24px;
    background-color: transparent;
}

/* == Media ========================================================================================================= */

@media (max-width: 840px) {
    .modal {
        max-width: 625px;
        padding: 40px 50px;
    }
}

@media (max-width: 670px) {
    .modal {
        max-width: 90%;
    }
    .modal__title {
        text-align: center;
    }
    .form__top {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 50px
    }
    .form__top-left {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .form-input,
    .form-input::placeholder {
        font-size: 14px;
    }
    .form__container {
        padding: 7px 4px 7px 8px;
    }
}
