/* == Fonts ========================================================================================================= */

@font-face {
    font-family: 'Lato-SemiBold';
    src: url('../fonts/Lato/Lato-SemiBold.woff2') format("woff2"),
         url('../fonts/Lato/Lato-SemiBold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format("woff2"),
         url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT-Sans-Regular';
    src: url('../fonts/PT-Sans/PT-Sans-Regular.woff2') format("woff2"),
         url('../fonts/PT-Sans/PT-Sans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT-Sans-Bold';
    src: url('../fonts/PT-Sans/PT-Sans-Bold.woff2') format("woff2"),
         url('../fonts/PT-Sans/PT-Sans-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* == Common styles ================================================================================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    font-family: 'PT-Sans-Regular', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
}

.modal-open {
    overflow: hidden;
    background-color: #6A6E72;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form__label {
    font-family: 'PT-Sans-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #6A6E72;
}

.form__label_required::before{
    content: '✱';
    margin-right: 2px;
    color: #D90000;
}

.form-input,
.form-input::placeholder {
    font-family: 'PT-Sans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0C1014;
    line-height: 24px;
    white-space: nowrap;
}

.button {
    border: none;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    white-space: nowrap;
}

.button-fullwidth {
    display: inline-block;
    width: 100%;
}

/* == Header ======================================================================================================== */

.header {
    padding: 20px;
    color: white;
    text-align: center;
    background-color: #79D77D;
}

.header__title {
    font-family: 'Arial', sans-serif;
}

/* == Block Content ================================================================================================= */

.content {
    display: flex;
    justify-content: center;
}

.content__button {
    display: inline-block;
    margin-top: 100px;
}

.button-show {
    width: 147px;
    padding-top: 14px;
    padding-bottom: 16px;
    border: 1px solid #E5266E;
    border-radius: 4px;
    font-family: 'Lato-SemiBold', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #E5266E;
    background-color: #FFFFFF;
}

.button-show:hover {
    background-color: #FCE9EC;
}

.button-show:active {
    background-color: #FFC3CB;
}

/* == Block Modal =================================================================================================== */












.form__send-button {
    font-family: 'Lato-SemiBold', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E5266E;
}

.form__reset-button {
    font-family: 'PT-Sans-Regular', sans-serif;
    font-weight: 400;
    color: #0848C0;
    line-height: 24px;
    background-color: transparent;
}




